@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --cor-primaria: #6c17ae;
    --cor-secundaria: #bd67fe;
    --cor-fundo: #ffffff;
    --cor-texto: #ffffff;
    --cor-painel-aberto: #eeefee;
    --cor-texto-painel: #454545;

    --sombra-leve: 0 4px 6px rgba(0, 0, 0, 0.1);
    --sombra-media: -10px 10px 0px var(--cor-secundaria);
}

body.dark {
    --cor-fundo: #121212;
    --cor-painel-aberto: #1e1e1e;
    --cor-texto-painel: #fdfdfd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 20px 10px;
}

.app-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 280px;
    height: 280px;
    margin-bottom: 40px;
    background-color: var(--cor-primaria);
    border-radius: 50%;
    box-shadow: var(--sombra-media), inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.app-circle.modo-long .circle-mask {
    background-color: var(--cor-secundaria);
}

.app-circle.modo-long {
    box-shadow: -10px 10px 0px var(--cor-primaria);
}

.app-circle.modo-long .separator {
    color: var(--cor-primaria);
}

.app-circle.modo-long #session-type {
    color: var(--cor-primaria);
}

.circle-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.semi-circle {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;

    visibility: hidden;
}

.right-side {
    right: 0;
}

.left-side {
    left: 0;
}

.circle {
    position: absolute;
    width: 200%;
    height: 100%;
    border-radius: 50%;
    border: 20px solid var(--cor-primaria);
}

.right-side .circle {
    left: -100%;
    border-left-color: transparent;
}

.left-side .circle {
    right: -100%;
    border-right-color: transparent;
}

.circle-mask {
    background-color: var(--cor-primaria);
    visibility: visible;
}

.right-side.circle-mask {
    transform-origin: center right;

    transform: rotate(0deg);
    z-index: 2;
}

.left-side.circle-mask {
    transform-origin: center left;

    transform: rotate(0deg);
    z-index: 2;
}

.mode-selector,
.timer-display,
.timer-controls,
.cycle-tracker {
    z-index: 3;
}

.mode-selector {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 4px solid var(--cor-secundaria);
    border-radius: 50px;
    box-shadow: none;
    padding: -1px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.mode-button {
    font-family: 'Poppins', sans-serif;
    flex: 1;
    background: transparent;
    border: none;
    color: var(--cor-secundaria);
    padding: 7px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.mode-button.active {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    box-shadow: var(--sombra-leve);
    transform: scale(1.25);
}

.time-value {
    font-weight: 700;
    font-size: 1.1em;
    margin-left: 2px;
    color: var(--cor-secundaria);
    transform: translateY(-1px);
}

.mode-button:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.05);
}

.mode-button.active .time-value {
    color: var(--cor-fundo);
}

.timer-display {
    font-size: 5em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
    color: var(--cor-texto);
}

.separator {
    margin: 0 -30px;
    color: var(--cor-secundaria);
    font-size: 70px;
}

#time-minutes {
    font-size: 1em;
    letter-spacing: 0.01em;
}

#time-seconds {
    font-size: 0.7em;
    letter-spacing: 0.01em;
    font-weight: 300;
}

#session-type {
    display: block;
    text-align: center;
    font-size: 0.25em;

    margin-top: 5px;
    color: var(--cor-secundaria);
    letter-spacing: 0.4em;
    font-style: italic;
}

.timer-controls {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.control-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #454545;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #454545;
    padding: 5px;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    box-shadow: none;
}

.control-btn:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--cor-secundaria);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.timer-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.cycle-tracker p {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 100px;
    color: var(--cor-secundaria);
}

#ciclos-completos {
    font-weight: 700;
    color: var(--cor-primaria);
}
#total-ciclos {
    font-weight: 700;
    color: var(--cor-primaria);
}

.pomodoro-footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-logo {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(39%) sepia(83%) saturate(749%)
        hue-rotate(253deg) brightness(60%) contrast(90%);
}

.link {
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.link:hover {
    text-decoration: underline;
    color: var(--cor-secundaria);
}

.mode-selector-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.settings-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
    background: #c0c0c0;
    border: 3px solid #c0c0c0;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(10% + 73px);
    transition: transform 0.3s ease;
}

.control-btn img {
    width: 40px;
    height: 40px;
}

.settings-btn img {
    width: 40px;
    height: 40px;
}

.settings-btn:hover {
    transform: translateY(-50%) scale(1.1);
}

.settings-panel {
    position: fixed;
    top: 150px;
    left: calc(50% + 180px);
    z-index: 1000;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;

    /* painel fechado */
    overflow: hidden;
    max-height: 0;
    padding: 0 20px 0 20px;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in,
        padding 0.5s ease-in-out;
}

.setting-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 1000;
    margin: 0;
    border-radius: 50px;
    padding: 10px 39px;
    border: none;
    background-color: var(--cor-primaria);
    color: var(--cor-texto);
    cursor: pointer;
}

.settings-panel button + button {
    margin-top: 15px;
}

.settings-panel.open {
    max-height: 300px;
    opacity: 1;
    padding: 20px;
    background-color: var(--cor-painel-aberto);
}

.edit-sessions-panel {
    position: fixed;
    top: 150px;
    left: calc(50% + 180px);
    z-index: 1000;
    width: 250px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    color: black;

    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;

    overflow: hidden;
    max-height: 0;
    padding: 0 20px;
    opacity: 0;

    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in,
        padding 0.5s ease-in-out;
}

.edit-sessions-panel.open {
    overflow: visible;
    max-height: 500px;
    opacity: 1;
    padding: 20px;
    display: flex;
    background-color: var(--cor-painel-aberto);
    color: var(--cor-texto-painel);
}

.edit-sessions-panel input {
    padding: 10px 20px;
    width: 100%;
    max-width: 90px;
    border-radius: 50px;
    border: 1px solid var(--cor-primaria);
    outline: none;
    font-size: 1em;
    background-color: #f5f0ff;
    transition: all 0.1s ease;
    text-align: center;
}

.edit-sessions-panel input:focus {
    border-color: #cc8bfe;
    box-shadow: 0 0 5px rgba(108, 23, 174, 0.5);
}

.edit-sessions-panel .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.edit-sessions-panel .input-group label {
    width: 60px;
    text-align: right;
    font-weight: 500;
}

.panel-header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.edit-sessions-panel h2 {
    margin: 0;
    font-size: 1.5em;
}

.panel-header h2 {
    font-size: 1.3em;
}

#btn-resetar-sessoes:hover,
#btn-salvar-sessoes:hover,
#btn-personalizar:hover,
#btn-editar-sessoes:hover,
#btn-tarefas:hover {
    background-color: #cc8bfe;
    transform: scale(1.1);
    cursor: pointer;
}

#btn-salvar-sessoes,
#btn-resetar-sessoes {
    background-color: var(--cor-primaria);
}

.personalize-panel {
    position: fixed;
    top: 150px;
    left: calc(50% + 180px);
    z-index: 1000;
    width: 250px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: black;
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    gap: 15px;

    overflow: hidden;
    max-height: 0;
    padding: 0 20px;
    opacity: 0;

    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in,
        padding 0.3s ease-in-out;
}

.personalize-panel.open {
    max-height: 500px;
    opacity: 1;
    padding: 20px;
    background-color: var(--cor-painel-aberto);
    color: var(--cor-texto-painel);
}

.personalize-panel .setting-button {
    color: var(--cor-texto);
    background-color: var(--cor-secundaria);
}

.personalize-panel .setting-button img {
    width: 40px;
    height: 40px;
}

.back-button {
    padding: 5px 10px;
    font-weight: 600;
    font-size: 1em;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: #c1c1c1;
    color: var(--cor-texto-painel);
    margin-right: 7px;
}

.back-button:hover {
    background-color: #a1a1a1;
    cursor: pointer;
}

#btn-darkmode {
    width: 70px;
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1c1c1;
}

#btn-darkmode:hover {
    background-color: #a1a1a1;
}

.switch-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6c17ae17;
    padding: 10px 12px;
    border-radius: 10px;
}

.switch-span {
    font-size: 15px;
}

.switch {
    position: relative;
    width: 46px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: #555;
    border-radius: 24px;
    transition: 0.3s;
}

.slider::before {
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

input:checked + .slider {
    background-color: var(--cor-secundaria);
}

input:checked + .slider::before {
    transform: translateX(22px);
}

.switch-info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.info-icon {
    position: relative;
    cursor: help;
}

.info-icon img {
    width: 1em;
    height: 1em;
}

.info-icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 130%;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    background-color: #333;
    color: #fff;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
    z-index: 10;
}

.info-icon::before {
    content: '';
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: #333;
    opacity: 0;
}

.info-icon:hover::after,
.info-icon:hover::before {
    opacity: 1;
}

@media (max-width: 1200px) {
    .settings-panel,
    .edit-sessions-panel,
    .personalize-panel {
        left: auto !important;
        right: 10px !important;
        top: 150px !important;
    }
}

@media (max-width: 600px) {
    .settings-panel,
    .edit-sessions-panel,
    .personalize-panel {
        left: auto !important;
        right: 50% !important;
        transform: translateX(50%) !important;
        top: 200px !important;
        width: 90% !important;
        max-width: 300px;
    }
}
