@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --cor-primaria: #6c17ae;
    --cor-secundaria: #bd67fe;
    --cor-fundo: #ffffff;
    --cor-texto: #ffffff;
    --cor-painel-aberto: #eeefee;

    --sombra-leve: 0 4px 6px rgba(0, 0, 0, 0.1);
    --sombra-media: -10px 10px 0px var(--cor-secundaria);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    padding: 20px 10px;
}

.app-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 280px;
    height: 280px;
    margin-bottom: 40px;
    background-color: var(--cor-primaria);
    border-radius: 50%;
    box-shadow: var(--sombra-media), inset 0 0 15px rgba(0, 0, 0, 0.3);
}

.app-circle.modo-long .circle-mask {
    background-color: var(--cor-secundaria);
}

.app-circle.modo-long {
    box-shadow: -10px 10px 0px var(--cor-primaria); ;
}

.app-circle.modo-long .separator {
    color: var(--cor-primaria);
}

.app-circle.modo-long #session-type {
    color: var(--cor-primaria);
}

.circle-shape {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.semi-circle {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;

    visibility: hidden;
}

.right-side {
    right: 0;
}

.left-side {
    left: 0;
}

.circle {
    position: absolute;
    width: 200%;
    height: 100%;
    border-radius: 50%;
    border: 20px solid var(--cor-primaria);
}

.right-side .circle {
    left: -100%;
    border-left-color: transparent;
}

.left-side .circle {
    right: -100%;
    border-right-color: transparent;
}

.circle-mask {
    background-color: var(--cor-primaria);
    visibility: visible;
}

.right-side.circle-mask {
    transform-origin: center right;

    transform: rotate(0deg);
    z-index: 2;
}

.left-side.circle-mask {
    transform-origin: center left;

    transform: rotate(0deg);
    z-index: 2;
}

.mode-selector,
.timer-display,
.timer-controls,
.cycle-tracker {
    z-index: 3;
}

.mode-selector {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
    border: 4px solid var(--cor-secundaria);
    border-radius: 50px;
    box-shadow: none;
    padding: -1px;
    margin-top: 100px;
    margin-bottom: -3rem;
}

.mode-button {
    font-family: 'Poppins', sans-serif;
    flex: 1;
    background: transparent;
    border: none;
    color: var(--cor-secundaria);
    padding: 7px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 300;
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.mode-button.active {
    background-color: var(--cor-primaria);
    color: var(--cor-fundo);
    box-shadow: var(--sombra-leve);
    transform: scale(1.25);
}

.time-value {
    font-weight: 700;
    font-size: 1.1em;
    margin-left: 2px;
    color: var(--cor-secundaria);
    transform: translateY(-1px);
}

.mode-button:hover:not(.active) {
    background-color: rgba(255, 255, 255, 0.05);
}

.mode-button.active .time-value {
    color: var(--cor-fundo);
}

.timer-display {
    font-size: 5em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;
    color: var(--cor-texto);
}

.separator {
    margin: 0 -30px;
    color: var(--cor-secundaria);
    font-size: 70px;
}

#time-minutes {
    font-size: 1em;
    letter-spacing: 0.01em;
}

#time-seconds {
    font-size: 0.7em;
    letter-spacing: 0.01em;
    font-weight: 300;
}

#session-type {
    display: block;
    text-align: center;
    font-size: 0.25em;

    margin-top: 5px;
    color: var(--cor-secundaria);
    letter-spacing: 0.4em;
    font-style: italic;
}

.timer-controls {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.control-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #454545;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #454545;
    padding: 5px;
    cursor: pointer;
    font-size: 0.7em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    box-shadow: none;
    margin-top: -90px;
}

.control-btn:hover:not(:disabled) {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: var(--cor-secundaria);
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.timer-controls button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.cycle-tracker p {
    font-size: 1em;
    font-weight: 500;
    color: var(--cor-secundaria);
    margin-top: -130px;
}

#ciclos-completos {
    font-weight: 700;
    color: var(--cor-primaria);
}
#total-ciclos {
    font-weight: 700;
    color: var(--cor-primaria);
}

.pomodoro-footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-logo {
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(39%) sepia(83%) saturate(749%)
        hue-rotate(253deg) brightness(60%) contrast(90%);
}

.link {
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

.link:hover {
    text-decoration: underline;
    color: var(--cor-secundaria);
}

.mode-selector-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.settings-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -55px;
    top: 50%;
    transform: translateY(-50%);
    background: #c0c0c0;
    border: 3px solid #c0c0c0;
    border-radius: 50%;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: calc(50% + 73px);
    transition: transform 0.3s ease;
}

.control-btn img {
    width: 40px;
    height: 40px;
}

.settings-btn img {
    width: 40px;
    height: 40px;
}

.settings-btn:hover {
    transform: translateY(-50%) scale(1.1);
}

.settings-panel {
    position: absolute;
    top: 150px;
    right: 430px;
    width: 250px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    color: black;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0;

    /* painel fechado */
    overflow: hidden;
    max-height: 0;
    padding: 0 20px 0 20px;
    opacity: 0;
    transition: max-height 0.5s ease-in-out, opacity 0.4s ease-in,
        padding 0.5s ease-in-out;
}

.setting-button {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 1000;
    margin: 0;
    border-radius: 50px;
    padding: 10px 39px;
    border: none;
    background-color: #cc8bfe;
    color: var(--cor-texto);
    cursor: pointer;
}

#btn-editar-sessoes {
    background-color: #500f85;
}

.settings-panel button + button {
    margin-top: 15px;
}

.settings-panel.open {
    max-height: 300px;
    opacity: 1;
    padding: 20px;
    background-color: var(--cor-painel-aberto);
}
